.curseclient
crash-reports/
logs/
minecraftinstance.json
saves/
schematics/
screenshots/
usercache.json
usernamecache.json
journeymap/data/
config/jei/world/
journeymap/journeymap.log
rhino.local.properties
essential/cosmetic-cache/
essential/avatar-cache/
essential/screenshot-cache/
essential/lwjgl3-natives/
