.curseclient
crash-reports/
logs/
minecraftinstance.json
saves/
schematics/
screenshots/
usercache.json
usernamecache.json
journeymap/data/
config/jei/world/
journeymap/journeymap.log
rhino.local.properties
essential/*/
essential/Essential (forge_1.18.2).jar
essential/screenshot-checksum-caches.json
essential/version.json
patchouli_data.json
