/.curseclient
/crash-reports
/lightspeed-cache
/logs
/minecraftinstance.json
/saves
/schematics
/screenshots
/usercache.json
/usernamecache.json
/journeymap/data/
/journeymap/journeymap.log
/config/jei/world